target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
**/.idea/
/.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
/build/
/.settings/
.apt_generated
.classpath
.factorypath
**/.project*
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store 

## Custom
**/bin/
**/log/
**/logs/
**/node_modules/
**/.sync*
**/*.a
**/*.d
**/*.o
**/*.log
**/*.secret
**/__pycache__/**
**/access.token
**/connection.properties
**/connection*.properties
**/Thumbs.db*
build.bat
build.cmd
build.ps1
build.sh
libdmotservices/python/vendor/
