######################################
# cv-samples: docker-compose.yml
######################################

services:
  slideshow-server:
    build:
      context: .
      dockerfile: slideshow-server/Dockerfile
    ports:
      - "8081:8080"
    volumes:
      - ./slideshow-server/publicdomainpictures.net:/media:ro
    restart: unless-stopped
  wifiequ:
    build:
      context: .
      dockerfile: wifiequ/Dockerfile
    environment:
      WFQ_MOCK: "1"
      WFQ_IFACE: "wlan0"
    ports:
      - "8082:8080"
    restart: unless-stopped
