######################################
# cv-samples: docker-compose.yml
######################################

services:
  slideshow-server:
    build:
      context: .
      dockerfile: slideshow-server/Dockerfile
    ports:
      - "8081:8080"
    volumes:
      - ./slideshow-server/publicdomainpictures.net:/media:ro
    restart: unless-stopped
  wifiequ:
    build:
      context: .
      dockerfile: wifiequ/Dockerfile
    environment:
      WFQ_MOCK: "1"
      WFQ_IFACE: "wlan0"
    ports:
      - "8082:8080"
    restart: unless-stopped
  heapmonj-backend:
    build:
      context: .
      dockerfile: heapmonj/backend/Dockerfile
    ports:
      - "8083:8080"
    volumes:
      - ./heapmonj/backend/heapmonj/data:/opt/heapmonj/data
    restart: unless-stopped
  heapmonj-frontend:
    build:
      context: .
      dockerfile: heapmonj/frontend/Dockerfile
    ports:
      - "8084:80"
    depends_on:
      - heapmonj-backend
    restart: unless-stopped
  stack-index:
    image: nginx:1.27-alpine
    volumes:
      - ./docker/index:/usr/share/nginx/html:ro
    ports:
      - "8080:80"
    depends_on:
      - slideshow-server
      - wifiequ
      - heapmonj-backend
      - heapmonj-frontend
    restart: unless-stopped
