# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Build directories
**/build/
dist/
build/
linux/build/
windows/build/

# .NET build outputs
**/.dotnet
**/bin/
**/obj/
.vs/
.idea/
.vscode/

# NuGet caches (use a shared cache outside the repo)
**/.nuget/

# Local per-user caches
**/.local/
