* text=auto eol=lf

*.bat text eol=crlf

*.ts text diff=javascript
*.js text diff=javascript
*.json text
*.html text
*.css text
*.scss text
*.md text
*.yml text
*.yaml text

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
