[Unit]
Description=wifiequd daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/wifiequd
Restart=on-failure
User=wifiequ
Group=wifiequ
NoNewPrivileges=true
ProtectSystem=full
AmbientCapabilities=CAP_NET_ADMIN
CapabilityBoundingSet=CAP_NET_ADMIN
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=read-only
PrivateTmp=true
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
RestrictAddressFamilies=AF_UNIX AF_NETLINK AF_INET AF_INET6
IPAddressDeny=any
IPAddressAllow=localhost
RuntimeDirectory=wifiequ
RuntimeDirectoryMode=0750
UMask=007

[Install]
WantedBy=multi-user.target

